[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
dj-database-url = "==1.0.0"
django = "==3.2.15"
django-cors-headers = "==3.13.0"
django-heroku = "==0.3.1"
django-rest-framework = "==0.1.0"
djangorestframework = "==3.13.1"
gunicorn = "==20.1.0"
psycopg2 = "==2.9.3"
pytz = "==2022.2.1"
sqlparse = "==0.4.2"
typing-extensions = "==4.3.0"
whitenoise = "==6.2.0"
cloudinary = "==1.29.0"
certifi = "==2022.6.15"
charset-normalizer = "==2.1.1"
django-cloudinary-storage = "==0.3.0"
idna = "==3.3"
pillow = "==9.2.0"
requests = "==2.28.1"
six = "==1.16.0"
urllib3 = "==1.26.11"

[dev-packages]

[requires]
python_version = "3.10"
